@import "../colors/colors.css";

* {
    font-family: "Hack Nerd Font Mono";
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 6px;
    min-height: 0;
}

window,
tooltip {
    background-color: @background;
}

#waybar {
    background: alpha(@background, 0.6);
    border-radius: 0;
}

#workspaces {
    margin: 1px 0;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0 6px;
}
#workspaces button:hover {
    color: @pink;
    transition: none;
    border-bottom: 1px solid @pink;
    padding: 0 8px;
}

#workspaces button.active {
    color: @pink;
    border: 2px solid @pink;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button.urgent {
    background-color: @red;
    padding: 0 8px;
}

#custom-power,
#custom-apps,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    color: @foreground;
    margin: 1px 0;
    padding: 0 12px;
}

#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(@select, 0.6);
}

#bluetooth {
    color: @yellow;
}

#network {
    color: @green;
}

#battery {
    color: @purple;
}

#pulseaudio {
    color: @orange;
}

#clock {
    margin-right: 12px;
    color: @blue;
}

#custom-power {
    margin-left: 12px;
    padding: 0px 12px 0 16px;
}
